ADMIN_EMAIL=
ADMIN_PASSWORD=
USER_EMAIL=
USER_PASSWORD=
ORANGEHRM_BASE_URL=https://opensource-demo.orangehrmlive.com
ORANGEHRM_ADMIN_USERNAME=Admin
ORANGEHRM_ADMIN_PASSWORD=admin123
REQRES_BASE_URL=https://reqres.in
REQRES_PROJECT_ID=12942
REQRES_API_KEY=pro_400ddbff9e590eb2ef652b111ed14b7994b8f4707d53f768c70534cc83fa7598
REQRES_ENV=prod
