ADMIN_EMAIL=
ADMIN_PASSWORD=
USER_EMAIL=
USER_PASSWORD=
ORANGEHRM_BASE_URL=https://opensource-demo.orangehrmlive.com
ORANGEHRM_ADMIN_USERNAME=
ORANGEHRM_ADMIN_PASSWORD=
REQRES_BASE_URL=
REQRES_PROJECT_ID=
REQRES_API_KEY=
REQRES_ENV=
